/* think to use SCSS, and BEM in future homeworks */
.button-container { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.count {
  color: #00A287;
  font-size: 48px;
}

.timer {
  color: red;
  font-size: 48px;
}

.result {
  font-size: 20px;
  text-align: center;
}

.btn-click {
  height: 400px;
  width: 400px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 62px;
  box-shadow: 0 3px 6px 3px #dcdcdc;
  background-color: lightgrey;
  animation: pulsing 2s infinite;
}

.btn-click-active {
  animation: none;
  background-color: #00A287;
  color: white;
}

.btn-results-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-results {
  background-color: #00A287;
  color: white;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 20px;
  margin-right: 50px;
}


@keyframes pulsing {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}
