@import '../styles/variables';

.login {
  text-align: center;
  &__label {
    font-size: 18px;
  }
  &__input {
    padding: 2px 5px;
    font-size: 16px;
    height: 25px;
    width: 200px;
    margin: 0 15px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 3px 8px #d6d6d6;

    &:focus {
      border: 1px solid $main-color;
    }
  }
  &__btn {
    padding: 6px 16px;
    border-radius: 5px;
    background-color: $main-color;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: 2px solid $main-color;
    font-size: 18px;

    &:hover {
      background-color: transparent;
      color: $main-color;
    }
  }
}

.user-exist {
  text-align: center;
  font-size: 24px;
  color: $dark-danger-color;
  &__link {
    display: block;
    text-align: center;
    font-size: 22px;
  }
}
