.timer {
  text-align: center;
  font-size: 20px;
}

.times-sec {
  display: inline-block;
  padding: 5px 10px;
  background-color: #00A287;
  color: white;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

